@font-face {
  font-family: "iconfont"; /* Project id 2806144 */
  src: url('//at.alicdn.com/t/font_2806144_oxtkho80w4e.woff2?t=1631366458376') format('woff2'),
       url('//at.alicdn.com/t/font_2806144_oxtkho80w4e.woff?t=1631366458376') format('woff'),
       url('//at.alicdn.com/t/font_2806144_oxtkho80w4e.ttf?t=1631366458376') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-blog:before {
  content: "\e717";
}

.icon-coding:before {
  content: "\e604";
}

.icon-csdn:before {
  content: "\e638";
}

.icon-github:before {
  content: "\e972";
}

.icon-email:before {
  content: "\e602";
}

.icon-qq:before {
  content: "\e6b4";
}