<!doctype html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <title>练习一.png</title>
  <style>
	div {
		 text-align: center;
	}
	span {
		color: red;
	}
  </style>
 </head>
 <body>
	<p>
		图片<img src="images/练习一.png" alt="练习一.png">
	</p>
	<hr>
	制作：
	<table border='1' cellspacing='0'>
		<tr>
			<td rowspan='2' colspan='2'>
				<div>资格</div>
				<div>总表</div>
			</td>
			<td colspan='30'>
				<div>全国计算机与软件技术资格（水平）考试资格专业类别</div>
			</td>
		</tr>
		<tr>
			<td colspan='6'>
				<div>计算机软件</div>
			</td>
			<td colspan='6'>
				<div>计算机网络</div>
			</td>
			<td colspan='6'>
				<div>计算机应用技术</div>
			</td>
			<td colspan='6'>
				<div>信息系统</div>
			</td>
			<td colspan='6'>
				<div>信息服务</div>
			</td>
		</tr>
		<tr>
			<td rowspan="5">
				级<br>
				别<br>
				层<br>
				次
			</td>
			<td>
				<div>高级</div>
				<div>资格</div>
			</td>
			<td colspan='30'>
				<div>
					<span>信息系统项目管理师 系统分析师</span> 系统架构设计师 网络规划设计师 
					<span>系统规划与管理师</span>
				</div>
			</td>
		</tr>
		<tr>
			<td rowspan='3'>
				<div>中级</div>
				<div>资格</div>
			</td>
			<td rowspan='3' colspan='6'>
				<div>软件评测师</div>
				<div>
					<span>软件设计师</span>
				</div>
				<div>软件过程能力评估师</div>
			</td>
			<td rowspan='3' colspan='6'>
				<div>
					<span>网络工程师</span>
				</div>
			</td>
			<td rowspan='3' colspan='6'>
				<div>多媒体应用设计师</div>
				<div>嵌入式设计师</div>
				<div>计算机辅助设计师</div>
				<div>电子商务师</div>
			</td>
			<td rowspan='3' colspan='6'>
				<div>
					<span>系统集成项目管理工程师</span>
				</div>
				<div>
					<span>信息系统监理师</span>
				</div>
				<div>
					<span>信息安全工程师</span>
				</div>
				<div>
					<span>数据库系统工程师</span>
				</div>
				<div>
					<span>信息系统管理工程师</span>
				</div>
			</td>
			<td rowspan='3' colspan='6'>
				<div>计算机硬件工程师</div>
				<div>信息技术支持工程师</div>
			</td>
		</tr>
		<tr></tr>
		<tr></tr>
		<tr>
			<td>
				<div>初级</div>
				<div>资格</div>
			</td>
			<td colspan='6'>
				<div>
					<span>程序员</span>
				</div>
			</td>
			<td colspan='6'>
				<div>
					<span>网络管理员</span>
				</div>
			</td>
			<td colspan='6'>
				<div>多媒体应用制作技术员</div>
				<div>电子商务技术员</div>
			</td>
			<td colspan='6'>
				<div>信息系统运行管理员</div>
			</td>
			<td colspan='6'>
				<div>网页制作员</div>
				<div>
					<span>信息处理技术员</span>
				</div>
			</td>
		</tr>
		<tr>
			<td colspan='32'>
				<div>注：预计<span>红色</span>为2019年上半年（5月25日）开考项目</div>
			</td>
		</tr>
	</table>
 </body>
</html>
