<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>HTML5跨平台开发</title>
		<style>
			body,ul,h3 {
				margin: 0;
			}
			ul {
				list-style: none;
				padding: 0;
			}
			a {
				text-decoration: none;
			}
			.menu {
				float: left;
				width: 100px;
				margin: 100px 0 0 100px;
				background-color: #fff;
				border: 2px solid #ccc;
			}
			iframe {
				width: 900px;
				height: 700px;
				border: none;
			}
		</style>
	</head>
	<body>
		<div class="menu">
			<ul>
				<li>
					<h3>
						<a href="http:www.baidu.com" target="rightfor">第一天</a>
					</h3>
				</li>
				<li>
					<h3>
						<a href="javascript:;" target="rightfor">第二天</a>
					</h3>
				</li>
				<li>
					<h3>
						<a href="javascript:;" target="rightfor">第三天</a>
					</h3>
				</li>
				<li>
					<h3>
						<a href="javascript:;" target="rightfor">第四天</a>
					</h3>
				</li>
				<li>
					<h3>
						<a href="javascript:;" target="rightfor">第五天</a>
					</h3>
				</li>
			</ul>
		</div>
		<div class="iframe" style="float: left;width: 900px;height: 700px;margin-left: 25px;border: 1px solid #000;text-align: center;">
			<iframe src="" frameborder="0" name="rightfor"></iframe>
		</div>
	</body>
</html>
