<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<style>
	#layout>div {
		display: inline-block;
	}
	#layout #test4 {
		display: block;
		width: 684px;
		font-size: 22px;
		font-weight: bold;
		text-align: center;
	}
</style>
</head>
<body>
<div style="border:2px dashed #FF6600;padding:10px;margin:10px;background-color:#FFF;display:block;">
<img src="images/demo4.png" width="650" />
<h4 style="color:#339;">请写出上图的效果的样式</h4>
</div>
<div id="layout">
  <div id="test1"><img src="images/pic01.png" /></div>
  <div id="test2"><img src="images/pic02.png" /></div>
  <div id="test3"><img src="images/pic03.png" /></div>
  <div id="test3"><img src="images/pic04.png" /></div>
  <div id="test4">笑容逐渐消失</div>
</div>
</body>
</html>
