<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<style>
	ul {
		list-style: none;
	}
	a {
		color: #3399FF;
		font-size: 22px;
		text-decoration: none;
	}
	li {
		width: 142px;
		height: 40px;
		margin-bottom: 10px;
		padding-left: 20px;
		background-color: #FFFFCC;
		line-height: 40px;
	}
	li:before {
		content: '>';
		display: inline-block;
		transform: translateX(-43px);
	}
</style>
</head>

<body>
<div style="border:2px dashed #FF6600;padding:10px;margin:10px;background-color:#FFF; width:800px;">
<img src="images/demo2.png" />
<h4 style="color:#339;">请写出上图的效果的样式</h4>
</div>
<ul>
  <li> <a href="#">文化</a> </li>
  <li> <a href="#">交友</a> </li>
  <li> <a href="#">社区</a> </li>
  <li> <a href="#">旅游</a> </li>
  <li> <a href="#">游戏</a> </li>
</ul>
</html>
