<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>无标题文档</title>
	<style>
		.content img {
			display: none;
		}
		.content:hover img {
			display: inline-block;
		}
	</style>
</head>

<body>
  <div>
    <h2> 请完成如下要求： </h2>
    <ol>
      <li>网页打开时不显示图片</li>
      <li>鼠标放到文字上显示图片</li>
      <li>移开时不显示图片</li>

    </ol>
  </div>
  <div class="content">鼠标放上来有惊喜

    <img src="images/bg.png" class="imghid" width="300" />

  </div>




</html>