<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<style>
a {
	text-decoration: none;
	color: #00C;
}
a:hover {
	color: red;
	text-decoration: underline;
}
a:visited {
	color: #999;
}

</style>
</head>

<body>
<h3>以下链接鼠标放上去显示为红色并且显示下划线，被点击后变为灰色：</h3>
<a href="#" >超链接一</a> <a href="#" >超链接二</a>
</body>
</html>
