<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<style>
div {
	padding-left: 50px;
}
div p:first-letter {
	color: red;
}
</style>
</head>

<body>
<h3>你发现了吗？这是一首藏头诗，请将关键字用红色标注出来：</h3>
<div>
  <p>你我有情心愉悦</p>
  <p>若能相恋牵着手</p>
  <p>不怕路途多难走</p>
  <p>离开陆地上船头</p>
  <p>我俩有缘天注定</p>
  <p>亦有佳期乐悠悠</p>
  <p>不论沧海变桑田</p>
  <p>弃了青春共白首 </p>
</div>
</body>
</html>
