<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<style>
	.liubang {
		color: red;
		fon-size: 16px;
		font-weight: bold;
	}

</style>
</head>

<body>
<div>
  <h2> 请完成如下要求： </h2>
  <ol>
    <li>刘邦的儿子文字加粗，大小为16px，字体为红色</li>
    <li>刘邦的孙子背景为黄色，字体为蓝色</li>
    <li>刘邦的曾孙文字为灰色，倾斜强调</li>
  </ol>
</div>
<h2>汉朝部分帝王</h2>
<ul>
  <li>
    <h4 class='liubang'>高皇帝-刘邦</h4>
    <ul>
      <li>刘盈（即是汉孝惠帝）。</li>
      <li>刘如意（汉高祖七年封代王，九年徙为赵王，十五岁被吕氏毒死，谥赵隐王）。</li>
      <li>
        <h4>刘恒（初封代王，后即帝位为孝文帝）。</h4>
        <ul>
          <li>
            <h4>孝景皇帝-刘启</h4>
            <ul>
              <li>孝武皇帝-刘彻</li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
<h2>葫芦娃</h2>
<ul>
  <li>
    <h4>爷爷</h4>
    <ul>
      <li>红娃</li>
      <li>橙娃</li>
      <li>黄娃</li>
      <li>绿娃</li>
      <li>青娃</li>
      <li>蓝娃</li>
      <li>紫娃</li>
    </ul>
  </li>
</ul>
</body>
</html>
