<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<style>
	#breadcrumb {
		list-style: none;
	}
	a {
		color: #000;
		text-decoration: none;
	}
	li {
		float: left;
		height: 52px;
		margin-right: 10px;
		font-weight: bold;
		text-align: center;
		line-height: 52px;
	}
	li:first-child {
		width: 88px;
		background-color: #CC00FF;
		
	}
	li:first-child a {
		color: #fff;
		font-size: 22px;
		font-weight: bold;
	}
</style>
</head>

<body>
<div style="border:2px dashed #FF6600;padding:10px;margin:10px;background-color:#FFF;display:block;">
<img src="images/demo.png"  />
<h4 style="color:#339;">请写出上图的效果的样式</h4>
<h5>要求超链接地址为：index.html 样式为背景粉色，字体颜色白色，并且加粗</h5>
</div>


<ul id="breadcrumb">
  <li><a href="index.html"><span class="icon icon-home"> </span>Home</a></li>
  <li><a href="projects.html"><span class="icon icon-beaker"> </span> Projects</a></li>
  <li><a href="bread.html"><span class="icon icon-double-angle-right"></span> Breadcrumb</a></li>
  <li><a href="getting.html"><span class="icon icon-rocket"> </span> Getting started</a></li>
  <li><a href="download.html"><span class="icon icon-arrow-down"> </span> Download</a></li>
</ul>
</body>
</html>
