<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<style>
/*设置第一个列表的样式*/
.u01{
font-size:12px;
list-style-type:circle;
}
.u01 a {
color:#F0F;
}
/*设置第二个列表的样式*/
.u02 {
color:#f00;	
}
.u02 a{
	color: red;
	text-decoration:none;
}
</style>
</head>

<body>
<h2>以下列表中的超链接字体颜色为粉色，有下划线并且字号为12px，列表标记为空心圆</h2>
<ul class="u01">
	<li><a href="#" >列表项目</a></li>
	<li><a href="#" >列表项目</a></li>
	<li><a href="#" >列表项目</a></li>
	<li><a href="#" >列表项目</a></li>
</ul>
<h2>以下列表中的超链接字体颜色为红色，并且没有下划线</h2>
<ul class="u02">
	<li><a href="#" >列表项目</a></li>
	<li><a href="#" >列表项目</a></li>
	<li><a href="#" >列表项目</a></li>
	<li><a href="#" >列表项目</a></li>
</ul>
</body>
</html>
