<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>列表：ol有序,ul无序,dl</title>
	</head>
	<body>
		<div class="box">
			<div class="left" style="float: left;">
				<h3>有序列表</h3>
				<!--有序列表 默认type类型为数字 type=1|a|A|I|i-->
				<ol>
					<li>早上好</li>
					<li>中午好</li>
					<li>晚上好</li>
				</ol>
				<!--有序列表 type类型为小写字母-->
				<ol type='a'>
					<li>早上好</li>
					<li>中午好</li>
					<li>晚上好</li>
				</ol>
				<!--有序列表 type类型为大写字母-->
				<ol type='A'>
					<li>早上好</li>
					<li>中午好</li>
					<li>晚上好</li>
				</ol>
				<!--有序列表 type类型为I，大写阿拉伯数字-->
				<ol type='I'>
					<li>早上好</li>
					<li>中午好</li>
					<li>晚上好</li>
				</ol>
				<!--有序列表 type类型为i,-->
				<ol type='i'>
					<li>早上好</li>
					<li>中午好</li>
					<li>晚上好</li>
				</ol>
			</div>
			<div class="right" style="float: left;margin-left: 20px;">
				<h3>无序列表</h3>
				<!--无序列表 默认type类型disc,type=circle空心圆|disc|square方块-->
				<ul type='circle'>
					<li>早上好</li>
					<li>中午好</li>
					<li>晚上好</li>
				</ul>
				<!--无序列表 -->
				<ul type='disc'>
					<li>早上好</li>
					<li>中午好</li>
					<li>晚上好</li>
				</ul>
				<!--无序列表 type类型-->
				<ul type='square'>
					<li>早上好</li>
					<li>中午好</li>
					<li>晚上好</li>
				</ul>	
			</div>
			<div class="list" style='float: left;margin-left: 20px;'>
				<h3>定义列表</h3>
				<!--定义列表 type类型-->
				<dl>
					<dt>HTML5跨平台开发</dt>
					<dd>描述</dd>
					<dd>内容</dd>
				</dl>
				<!--定义列表 type类型-->
				<dl>
					<dt>前端开发工程师</dt>
					<dd>描述</dd>
					<dd>内容</dd>
				</dl>
			</div>
		</div>
	</body>
</html>