<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>课程问卷调查</title>
	</head>
	<body>
		<form action="">
			<h3>1.基本信息：</h3>
			班级：<input type="text">
			<h3>2.培训日期：</h3>
			<p>
				日期:<input type="date">
			</p>
			<p>
				<b>3.培训开始时间：</b>
				<select name="" id="">
					<option value="">小时</option>
					<option value="">请选择</option>
					<option value="">00</option>
					<option value="">01</option>
					<option value="">02</option>
					<option value="">03</option>
					<option value="">04</option>
					<option value="">05</option>
					<option value="">06</option>
					<option value="">07</option>
					<option value="">08</option>
					<option value="">09</option>
					<option value="">10</option>
				</select>：
				<select name="" id="">
					<option value="">分钟</option>
					<option value="">请选择</option>
					<option value="">00</option>
					<option value="">01</option>
					<option value="">02</option>
					<option value="">03</option>
					<option value="">04</option>
					<option value="">05</option>
					<option value="">06</option>
					<option value="">07</option>
					<option value="">08</option>
					<option value="">09</option>
					<option value="">10</option>
				</select>
			</p>
			<p>
				<b>4.培训结束时间：</b>
				<select name="" id="">
					<option value="">小时</option>
					<option value="">请选择</option>
					<option value="">00</option>
					<option value="">01</option>
					<option value="">02</option>
					<option value="">03</option>
					<option value="">04</option>
					<option value="">05</option>
					<option value="">06</option>
					<option value="">07</option>
					<option value="">08</option>
					<option value="">09</option>
					<option value="">10</option>
				</select>：
				<select name="" id="">
					<option value="">分钟</option>
					<option value="">请选择</option>
					<option value="">00</option>
					<option value="">01</option>
					<option value="">02</option>
					<option value="">03</option>
					<option value="">04</option>
					<option value="">05</option>
					<option value="">06</option>
					<option value="">07</option>
					<option value="">08</option>
					<option value="">09</option>
					<option value="">10</option>
				</select>
			</p>
			<h3>5.培训地点</h3>
			<p>
				<input type="radio" name='room'>机房201
			</p>
			<input type="radio" name='room'>机房202
			<p>
				<input type="radio" name='room'>机房203
			</p>
			<input type="radio" name='room'>机房204
			<h3>6.培训讲师姓名</h3>
			<input type="text">
			<h3>7.培训课程名称</h3>
			<input type="text">
			<h3>8.是否会从事"前端开发工程师"的工作？</h3>
			<p>
				<input type="radio" name='room'>会
			</p>
			<input type="radio" name='room'>不会
			<h3>9.是否考虑校外培训？</h3>
			<p>
				<input type="radio" name='room'>考虑
			</p>
			<input type="radio" name='room'>不考虑
			<h3>10.毕业后想去的城市是？</h3>
			<p>
				<input type="checkbox">北京
			</p>
			<input type="checkbox">上海
			<p>
				<input type="checkbox">广州
			</p>
			<input type="checkbox">深圳
			<p>
				<input type="checkbox">其他
			</p>
			<input type="text">
			<h3>二.课程调查（评估课程以及讲师）</h3>
			<p>11.根据以下10个问题进行客观真实的评分，最高分10分，最低分0分</p>
			<p>10 9 8 7 6 5 4 3 2 1 0</p>
			<p>
				<h3>1.课程学到的知识，概念，技巧等内容的满意度</h3>
				<input type="radio" name='a'>10
				<input type="radio" name='a'>9
				<input type="radio" name='a'>8
				<input type="radio" name='a'>7
				<input type="radio" name='a'>6
				<input type="radio" name='a'>5
				<input type="radio" name='a'>4
				<input type="radio" name='a'>3
				<input type="radio" name='a'>2
				<input type="radio" name='a'>1
				<input type="radio" name='a'>0
			</p>
			<p>
				<h3>2.课程实用性、可操作性的程度</h3>
				<input type="radio" name='a'>10
				<input type="radio" name='a'>9
				<input type="radio" name='a'>8
				<input type="radio" name='a'>7
				<input type="radio" name='a'>6
				<input type="radio" name='a'>5
				<input type="radio" name='a'>4
				<input type="radio" name='a'>3
				<input type="radio" name='a'>2
				<input type="radio" name='a'>1
				<input type="radio" name='a'>0
			</p>
			<p>
				<h3>3.对于今后工作的启发程度（助益度）</h3>
				<input type="radio" name='a'>10
				<input type="radio" name='a'>9
				<input type="radio" name='a'>8
				<input type="radio" name='a'>7
				<input type="radio" name='a'>6
				<input type="radio" name='a'>5
				<input type="radio" name='a'>4
				<input type="radio" name='a'>3
				<input type="radio" name='a'>2
				<input type="radio" name='a'>1
				<input type="radio" name='a'>0
			</p>
			<p>
				<h3>4.讲师对课程主题的准备工作</h3>
				<input type="radio" name='a'>10
				<input type="radio" name='a'>9
				<input type="radio" name='a'>8
				<input type="radio" name='a'>7
				<input type="radio" name='a'>6
				<input type="radio" name='a'>5
				<input type="radio" name='a'>4
				<input type="radio" name='a'>3
				<input type="radio" name='a'>2
				<input type="radio" name='a'>1
				<input type="radio" name='a'>0
			</p>
			<p>
				<h3>5.讲师与课程主题相关之专业能力</h3>
				<input type="radio" name='a'>10
				<input type="radio" name='a'>9
				<input type="radio" name='a'>8
				<input type="radio" name='a'>7
				<input type="radio" name='a'>6
				<input type="radio" name='a'>5
				<input type="radio" name='a'>4
				<input type="radio" name='a'>3
				<input type="radio" name='a'>2
				<input type="radio" name='a'>1
				<input type="radio" name='a'>0
			</p>
			<p>
				<h3>6.讲课条理及表达能力</h3>
				<input type="radio" name='a'>10
				<input type="radio" name='a'>9
				<input type="radio" name='a'>8
				<input type="radio" name='a'>7
				<input type="radio" name='a'>6
				<input type="radio" name='a'>5
				<input type="radio" name='a'>4
				<input type="radio" name='a'>3
				<input type="radio" name='a'>2
				<input type="radio" name='a'>1
				<input type="radio" name='a'>0
			</p>
			<p>
				<h3>7.激发学员的参与学习意愿方面</h3>
				<input type="radio" name='a'>10
				<input type="radio" name='a'>9
				<input type="radio" name='a'>8
				<input type="radio" name='a'>7
				<input type="radio" name='a'>6
				<input type="radio" name='a'>5
				<input type="radio" name='a'>4
				<input type="radio" name='a'>3
				<input type="radio" name='a'>2
				<input type="radio" name='a'>1
				<input type="radio" name='a'>0
			</p>
			<p>
				<h3>8.实际案例的运用</h3>
				<input type="radio" name='a'>10
				<input type="radio" name='a'>9
				<input type="radio" name='a'>8
				<input type="radio" name='a'>7
				<input type="radio" name='a'>6
				<input type="radio" name='a'>5
				<input type="radio" name='a'>4
				<input type="radio" name='a'>3
				<input type="radio" name='a'>2
				<input type="radio" name='a'>1
				<input type="radio" name='a'>0
			</p>
			<p>
				<h3>9.讲师解决学员所提问题</h3>
				<input type="radio" name='a'>10
				<input type="radio" name='a'>9
				<input type="radio" name='a'>8
				<input type="radio" name='a'>7
				<input type="radio" name='a'>6
				<input type="radio" name='a'>5
				<input type="radio" name='a'>4
				<input type="radio" name='a'>3
				<input type="radio" name='a'>2
				<input type="radio" name='a'>1
				<input type="radio" name='a'>0
			</p>
			<p>
				<h3>10.课堂节奏以及时间控制</h3>
				<input type="radio" name='a'>10
				<input type="radio" name='a'>9
				<input type="radio" name='a'>8
				<input type="radio" name='a'>7
				<input type="radio" name='a'>6
				<input type="radio" name='a'>5
				<input type="radio" name='a'>4
				<input type="radio" name='a'>3
				<input type="radio" name='a'>2
				<input type="radio" name='a'>1
				<input type="radio" name='a'>0
			</p>
			<h3>三.培训合理化建议</h3>
			<p>12.请给本次课程一个您的建议！</p>
			<input type="text">
			<p>13.请送给远标科技有限公司培训机构一个您的建议！</p>
			<textarea name="" id="" cols="30" rows="10"></textarea>
			<input type="submit" value='提交'>
		</form>
	</body>
</html>