<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>表单元素</title>
	</head>
	<body>
		<form action="">
			文本框:
			<input type="text">
			<p>
				日期:<input type="date">
			</p>
			单选框:<input type="radio">
			<p>
				复选框:<input type="checkbox">
			</p>
			密码框：<input type="password">
			<p>
				普通按钮：<input type="button" value='确定'>
			</p>
			重置按钮：<input type="reset" value='重置'>
			<p>
				提交按钮；<input type="submit" value='提交'>
			</p>
			下拉选项；价格
			<select name="sel01" id="">
				<option value="">10-20</option>
				<option value="">20-30</option>
				<option value="">30-40</option>
			</select>
			多行文本；
			<textarea name="" id="" cols="30" rows="10">	
			</textarea>
		</form>
	</body>
</html>