<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>文本标签及注释</title>
	</head>
	<body>
		<!--b标签-->
		<p>
			<b>b标签加粗效果</b>
		</p>
		<!--strong标签-->
		<strong>strong标签加粗效果，表示非常重要的文本</strong>
		<!--small标签-->
		<p>
			<small>small标签小号字</small>
		</p>
		<!--i标签-->
		<i>i标签文本斜体效果</i>
		<!--em标签-->
		<p>
			<em>em标签倾斜效果，强调内容本身</em>
		</p>
		<!--b标签-->
		<u>u标签下划线效果</u>
		<!--b标签-->
		<p>
			<sup>sup标签上角标</sup>
		</p>
		<!--b标签-->
		<sub>sub标签下标</sub>
		<p>
			H<sub>2</sub>+O<sub>2</sub>=H<sub>2</sub>o
		</p>
	</body>
</html>