<!doctype html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <title>css3样式之background练习</title>
 </head>
 <body>
	<p>
		图片<img src="images/图片2.png" alt="图片2.png">
	</p>
	<h3>制作</h3>
	<table cellspacing="0">
		<tr>
			<td colspan="3" style="width: 235px;height: 94px;background-color: #458796;text-align: center;color: #fff;">1</td>
			<td colspan="3" style="width: 235px;height: 94px;background-color: #456321;text-align: center;color: #fff;">2</td>
		</tr>
		<tr>
			<td colspan="2" style="width: 235px;height: 94px;background-color: #968574;text-align: center;color: #fff;">3</td>
			<td colspan="2" style="width: 235px;height: 94px;background-color: #123456;text-align: center;color: #fff;">4</td>
			<td colspan="2" style="width: 235px;height: 94px;background-color: #985673;text-align: center;color: #fff;">5</td>
		</tr>
	</table>
 </body>
</html>
