<!doctype html>
	<html lang="en">
	<head>
	<meta charset="UTF-8">
	<title>hao567</title>
	</head>
	<body>
		<a href="javascript:;" name="miaodian">顶部</a>
		<p>
			<h1>作为一个理想主义者，活着的感受</h1>
			<h6>时间：2019.9.5  16：36</h6>
			<p>
				理想主义者是在运用直觉去认识世界，运用情感去对世界作出判断的人，理想主义是高于现实主义的
				一个真正的理想主义者对人性，社会的本质
			</p>
			<h6>作者：杨侃</h6>
			<p><a href="http:www.cnki.net">家用电器</a></p>
			<a href="http:www.bilibili.com">手机/运营商/数码</a>
			<p><a href="http:www.Suning.com">电脑/办公</a></p>
			<a href="http:www.6.cn">家居/家具/家装/厨具</a>
			<p><a href="http:zhibo.sogou.com">虎牙直播</a></p>
			<a href="http:music.163.com">网易云音乐</a>
			<p><a href="http:www.baidu.com">携程机票</a></p>
			<a href="http:www.baidu.com">天猫超市</a>
			<p><a href="http:www.baidu.com">hao123旅游</a></p>
			<a href="http:www.baidu.com">工商银行</a>
			<p><a href="http:www.baidu.com">优酷网</a></p>
			<a href="http:www.baidu.com">QQ邮箱</a>
			<p><a href="http:www.baidu.com">直播吧</a></p>
			<a href="http:www.baidu.com">天涯社区</a>
		</p>
		<a href="#miaodian">点击跳转到顶部</a>
	</body>
	</html>
