<!doctype html>
	<html lang="en">
	<head>
	<meta charset="UTF-8">
	<title>hao567</title>
	</head>
	<body>
		<p><a href="javascript:;">家用电器</a></p>
		<a href="javascript:;">手机/运营商/数码</a>
		<p><a href="javascript:;">电脑/办公</a></p>
		<a href="javascript:;">家居/家具/家装/厨具</a>
		<p><a href="javascript:;">男装/女装/童装/内衣</a></p>
		<a href="javascript:;">美妆/个护清洁/宠物</a>
		<p><a href="javascript:;">女鞋/箱包/钟表/珠宝</a></p>
		<a href="javascript:;">男鞋/运动/户外</a>
		<p><a href="javascript:;">房产/汽车/汽车用品</a></p>
		<a href="javascript:;">母婴/玩具乐器</a>
		<p><a href="javascript:;">食品/酒类/生鲜/特产</a></p>
		<a href="javascript:;">艺术/礼品鲜花/农资绿植</a>
		<p><a href="javascript:;">医药保健/计生情趣</a></p>
		<a href="javascript:;">图书/文娱/电子书</a>
		<p><a href="javascript:;">机票/酒店/旅游/生活</a></p>
		<a href="javascript:;">理财/众筹/白条/保险</a>
		<p><a href="javascript:;">安装/维修/清洗/二手工业品</a></p>
	</body>
	</html>
