<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>canvas时间判断--叮当猫</title>
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<!--canvas画布一种具有宽高的行内块元素，默认宽300高150-->
		<canvas id="canvas"></canvas>
		<script src="js/digit.js"></script>
		<script>
			function Clock(){//构造函数，放私有属性
				//画笔cxt
				this.cxt = canvas.getContext('2d');
				canvas.width = 700;
				canvas.height = 100;
				this.cH = canvas.height;
			}
			//原型，放公共方法
			Clock.prototype = {
				init: function(index,n){
					var R = this.cH / 20 - 1;
					for(var i=0;i<digit[n].length;i++){
						for(var j=0;j<digit[n][i].length;j++){
							if(digit[n][i][j] == 1){
								this.cxt.fillStyle = '#fff';
								this.cxt.beginPath();
								this.cxt.arc(75*index+(2*j+1)*(R+1),(2*i+1)*(R+1),R,0,2*Math.PI,false);//绘制圆，false-顺时针
								this.cxt.closePath();
								this.cxt.fill();
							}
						}
					}
					//var x = y = (2n+1)(R+1);//n--0~n,2(n)(R+1) + R + 1
				},
				getTime: function(){
					var d = new Date();
					//第一种方法：
					/*var indexN = d.toString().indexOf(":"),//19-1-2
						time = d.toString().substring(indexN - 2,24);*/

					//第二种方法：
					//var reg = /\d\d:\d\d:\d\d/;
					var reg = /(\d)(\d):(\d)(\d):(\d)(\d)/;
					//var result = d.toString().match(reg);//match方法跟exec方法作用类似
					//或者：
					var result = reg.exec(d);/*RegExpObject.exec(string);exec() 方法用于检索字符串中的正则表达式的匹配。*/
					var data = [];
					// data.push(result[1],result[2],10,result[3],result[4],10,result[5],result[6]);
					data.push(11, 12, 13, 14, 15, 16, 17, 18, 19, 20);
					//清空画布，重置canvas属性width或height即可
					canvas.height = 150;
					for(var i=0;i<data.length;i++){
						clock.init(i,data[i]);	
					}

					// console.log(data);
				}
			}
			var clock = new Clock(),
				oTimer = null;
			//先清除定时器
			clearInterval(oTimer);
			oTimer = setInterval(function(){
				clock.getTime();				
			},50);
		</script>
	</body>
</html>