<!DOCTYPE HTML>
<html>
<head>
<meta charset="gb2312"/>
<title>标签选择器</title>
<style>
	dt {
		color: #BE5F5F;
	}
	dd {
		width: 422px;
		font-size: 10px;
	}
</style>
</head>
<body>
<div style="border:2px dashed #FF6600;padding:10px;margin:10px;">
<img src="images/demo.png" width="800" />
<h4 style="color:#339;">请写出上图的效果的样式</h4>
</div>

<table>
  <tr>
    <td><img src="images/P1050857.JPG" alt="台湾黑熊" /></td>
    <td><h2>台湾黑熊小档案</h2>
      <dl>
        <dt> 列入保护的本土珍稀动物 </dt>
        <dd> 　　目前，只有在台湾中央山脉隐密的环境及生物生态良好的山区，才有机会见到台湾黑熊踪迹，数量不多，有必要受到严密保护。万一有幸面对黑熊时，应尽量保持冷静，千万别激怒黑熊、装死或爬到树上，最好默默地往反方向走，远离黑熊。万一遭到攻击时，尽量保护头部、腹部等要害，伺机逃离。 </dd>
        <dt> 了解黑熊习性，减少冲突 </dt>
        <dd> 　　我们在新闻报道中，经常看见外国人在与熊、狗等动物竞技时，造成人类与动物的冲突事件。但在台湾，由于黑熊数量稀少，人与熊之间的冲突自然很少。 </dd>
      </dl></td>
  </tr>
</table>
</body>
</html>