<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>选择器</title>
<style>
	ul {
		list-style: none;
	}
	.title {
		margin-top: 15px;
		margin-bottom: 15px;
		font-size: 18px;
		font-weight: bold;
	}
	.text,.time_read {
		width: 665px;
		color: #959595;
		font-size: 14px;
	}
	.time_read {
		font-size: 12px;
	}
</style>
</head>

<body>
<div style="border:2px dashed #FF6600;padding:10px;margin:10px;">
<img src="images/demo3.png" width="750"  />
<h4 style="color:#339;">请写出上图的效果的样式</h4>
</div>

<div>
  <div>
    <ul>
      <li class="title">求女方必备结婚清单和婚礼当天日程表！</li>
      <li class="text"> 答：婚礼采购清单这四类是必须的啊1、婚戒首饰：一共需要准备3枚戒指，一副对戒、一个钻戒、三金/五金2、食品：喜糖、干果、酒、香烟、饮料、茶叶、水果、4果（红枣、花生、桂圆、莲子）3、新...</li>
      <li class="time_read">发布日期：2019-07-17 &nbsp;&nbsp;&nbsp;&nbsp; 阅读：186811</li>
    </ul>
  </div>
</div>
<div>
  <div>
    <ul>
      <li class="title">婚礼当天都要给哪些人红包，一般给多少好？</li>
      <li class="text"> 答：一、给宾客的回礼红包在南方大多数城市，都是需要给宾客回礼红包的，一般会按照礼金的20%作为回礼红包，也有的统一回礼10-50元不等。当然也有些城市是不给回礼红包的，会给宾客准备一些...</li>
      <li class="time_read">发布日期：2019-08-18 &nbsp;&nbsp;&nbsp;&nbsp; 阅读：251029</li>
    </ul>
  </div>
</div>
<div>
  <div>
    <ul>
      <li class="title">婚鞋一般要准备几双？必须是大红色吗？</li>
      <li class="text"> 答：一般来说，选择红色的婚鞋原因有两个：1、红色喜庆2、搭配中式礼服/红色敬酒服撇开红色喜庆不说（因为这点无法反驳嘛，哈哈）那就来说说第二点：搭配中式礼服/红色敬酒服其实中式礼服/红色...</li>
      <li class="time_read">发布日期：2019-08-04 &nbsp;&nbsp;&nbsp;&nbsp; 阅读：255480</li>
    </ul>
  </div>
</div>
<div>
  <div>
    <ul>
      <li class="title">跟妆都包括什么？价位是多少？</li>
      <li class="text"> 答：婚礼上的化妆师，其实属于你婚礼当天非常重要的闺蜜，你需要和她沟通，首先先得了解你的个人形象，对你的个人形象进行分析，她不仅要说出你适合的类型，并会根据你的个人形象做出一定的造型，让...</li>
      <li class="time_read">发布日期：2019-09-13 &nbsp;&nbsp;&nbsp;&nbsp; 阅读：26392</li>
    </ul>
  </div>
</div>
<div>
  <div>
    <ul>
      <li class="title">矮个新娘不能穿哪种类型的婚纱？会更显矮？</li>
      <li class="text"> 答：比较瘦的女孩子最好选择抹胸的，抹胸的婚纱可以体现女孩子的骨感美，从视觉上也会觉得女孩子的个子高一些。抹胸婚纱中挑选那些胸前带一些点缀花饰的，但是记住不可以太复杂，过于复杂就体现不出...</li>
      <li class="time_read">发布日期：2019-09-13 &nbsp;&nbsp;&nbsp;&nbsp; 阅读：14739</li>
    </ul>
  </div>
</div>
<div>
  <div>
    <ul>
      <li class="title">婚礼前一晚，哪些事必做？哪些事一定不能做？</li>
      <li class="text"> 答：要做的：1、泡个热水澡。赶走疲劳，放松身心。2、修剪手脚指甲。（做了美甲的新娘可以不用）对礼服未能覆盖又较多毛发的身体部位进行脱毛。3、睡前护肤。可以去做个补水面膜。不要做的：1、...</li>
      <li class="time_read">发布日期：2019-09-06 &nbsp;&nbsp;&nbsp;&nbsp; 阅读：304514</li>
    </ul>
  </div>
</div>
<div>
  <div>
    <ul>
      <li class="title">婚礼上，有哪些新人创意出场方式推荐？</li>
      <li class="text"> 答：​1、挽着父亲的手臂出场这是最为常见的一种开场方式，也是被大家接受最为广泛的一种方式，它比较简单、无需借助任何道具、无花费，是比较经济的一种开场方式，适合于大多数新人。2、现场乐器...</li>
      <li class="time_read">发布日期：2019-08-19 &nbsp;&nbsp;&nbsp;&nbsp; 阅读：44830</li>
    </ul>
  </div>
</div>
<div>
  <div>
    <ul>
      <li class="title">老公觉得浪费钱，婚礼上有必要用LED屏幕吗？</li>
      <li class="text"> 答：很多新人都会纠结舞台到底要不要用LED屏，其实LED屏有好处也有缺点，主要还是看新人的需求LED屏的用处：1、播放新人的视频、亲友祝福等2、LED屏可以融入婚庆布置当中，在不同场景...</li>
      <li class="time_read">发布日期：2018-10-19 &nbsp;&nbsp;&nbsp;&nbsp; 阅读：22417</li>
    </ul>
  </div>
</div>
<div>
  <div>
    <ul>
      <li class="title">女方的陪嫁一般要准备哪些东西？</li>
      <li class="text"> 答：一.新娘的行头1、结婚礼服一件2、小礼服一件3、鞋子两双4、回门衣服一套5、首饰若干二.新娘出嫁当天带的东西床上用品2套、拖鞋两双、睡衣两套、袜子两双、内衣裤两套(都是男女各一)、...</li>
      <li class="time_read">发布日期：2019-09-12 &nbsp;&nbsp;&nbsp;&nbsp; 阅读：278921</li>
    </ul>
  </div>
</div>
<div>
  <div>
    <ul>
      <li class="title">拍婚纱照选旅拍还是当地？套餐之外还有费用吗？</li>
      <li class="text"> 答：旅拍婚纱照的基本费用一般分为：1、交通费2、住宿费3、餐费4、门票费5、摄影师的费用6、邮寄费用所谓的旅拍套餐价格就是新人在婚纱摄影机构自行购买的拍摄套餐，不同套餐服务机构提供的服...</li>
      <li class="time_read">发布日期：2019-08-06 &nbsp;&nbsp;&nbsp;&nbsp; 阅读：13644</li>
    </ul>
  </div>
</div>
<div>
  <div>
    <ul>
      <li class="title">出嫁和敬酒服可以穿同一套衣服吗？</li>
      <li class="text"> 答：当然是可以的啦！中式婚礼的出门装几乎都是秀禾服或者龙凤褂哦，西式婚礼大多是纱裙为主，不过现在很多婚礼都是中西合璧，所以对于出门装就没那么多讲究了哦。这边就不得不科普一下了，厦门台北...</li>
      <li class="time_read">发布日期：2019-06-15 &nbsp;&nbsp;&nbsp;&nbsp; 阅读：23186</li>
    </ul>
  </div>
</div>
</body>
</html>
