<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<style>
	p {
		font-weight: bold;
	}
	#first-img {
		font-size: 20px;
	}
	#second-img {
		font-size: 25px;
		text-shadow: 4px 5px 2px #869421;
	}
	#three-img {
		font-size: 30px;
		text-shadow: 4px 5px 2px #365412;
	}
	#four-img {
		font-size: 35px;
		text-shadow: 4px 5px 2px #457896;
	}
</style>
</head>
<body>
<div style="border:2px dashed #FF6600;padding:10px;margin:10px;background-color:#FFF; width:800px;">
<img src="images/demo5.png" width="400" />
<h4 style="color:#339;">请写出上图的效果的样式</h4>
</div>
<div>
  <p id="first-img">原始文字显示</p>
</div>
<div>
  <p id="second-img">未设定阴影颜色</p>
</div>
<div>
  <p id="three-img">加上阴影颜色效果</p>
</div>
<div>
  <p id="four-img">加上复数阴影颜色效果</p>
</div>
</body>
</html>
