<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>标签选择器-列表</title>
<style>
	ul {
		list-style: none;
	}
	li {
		margin-top: 15px;
		margin-bottom: 15px;
	}
	a {
		color: #000;
		font-size: 18px;
		text-decoration: none;
	}
</style>
</head>
<body>
<div style="border:2px dashed #FF6600;padding:10px;margin:10px;">
<img src="images/demo2.png"/>
<h4 style="color:#339;">请写出上图的效果的样式</h4>
</div>
<ul>
  <li><a href="#">三张海报读懂习近平香山之行</a> </li>
  <li><a href="#">中秋佳节 听习近平讲中华优秀传统文化</a></li>
  <li><a href="#">习近平香山之行的讲话引发强烈反响</a></li>
  <li><a href="#">【中国稳健前行】高度文化自信为发展校准航向 </a> </li>
  <li><a href="#">心连心 爱香港</a></li>
  <li><a href="#">中美良性互动多多益善</a> </li>
  <li><a href="#">中国有效地激励了其它新兴国家去探索发展道路</a> </li>
</ul>
</body>
</html>
