<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<style>
	ul {
		list-style: none;
	}
	div {
		width: 336px;
		padding-top: 15px;
		padding-bottom: 15px;
		background-color: #8FADB9;
		border-radius: 10px 10px 0 0;
		color: #fff;
		font-size: 25px;
	}
	a {
		color: #fff;
		font-size: 17px;
		line-height: 30px;
		text-decoration: none;
	}
	.ul-bottom {
		width: 296px;
		background-color: #3F6EAA;
		border-radius: 0 0 10px 10px;
	}
</style>
</head>

<body>
<div style="border:2px dashed #FF6600;padding:10px;margin:10px;background-color:#FFF; width:800px;">
<img src="images/demo4.png" width="400" />
<h4 style="color:#339;">请写出上图的效果的样式</h4>
</div>
<ul>
  <li>
    <div>&nbsp;&nbsp;我的社区</div>
    <ul class="ul-bottom" >
      <li><a href="#">进入我的社区</a> </li>
      <li><a href="#">建立我的社区</a> </li>
      <li><a href="#">查找好友社区</a> </li>
      <li><a href="#">加入网站社区</a> </li>
    </ul>
  </li>
  <li>&nbsp;</li>
  <li>
    <div>&nbsp;&nbsp;博客专区</div>
    <ul class="ul-bottom">
      <li><a href="#">开启我的博客 </a> </li>
      <li><a href="#">写博客 </a> </li>
      <li><a href="#">看好友博客 </a> </li>
      <li><a href="#">看热门博客 </a> </li>
      <li><a href="#"> 查找博客 </a> </li>
    </ul>
  </li>
</ul>
</body>
</html>
