<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>计算机软考信息展示！</title>

</head>

<body>
<table width="500" height="500" border="1" >
  <tr>
  <td rowspan="2" colspan="2">资格总表</td>
  <td colspan="6" >全国计算机技术与权健技术资格（水平）考试资格  专业类别</td>
  </tr>
  
  <tr>
  <td>计算机软件</td>
  <td>计算机网络</td>
  <td>计算机应用技术</td>
  <td>信息系统</td>
  <td>信息服务</td>
  </tr>
  
   <tr>
  <td rowspan="3">级别层次</td>
  <td>高级资格</td>
  <td colspan="5"><u><font color="red">信息系统项目管理师</font></u>  <u><font color="red">系统分析师</font></u>  <u>系统构架设计师</u>  <u>网络规划设计师</u>  <u><u><font color="red">系统规划与管理师</font></u></td>
  </tr>
  
   <tr>
  <td>中级资格</td>
  <td><u>软件评测师<br><font color="red">软件设计师</font><br>软件过程能力评估师</u></td>
  <td><u><font color="red">网络工程师</font></u></td>
  <td><u>多媒体应用设计师<br>嵌入式设计师<br>计算机辅助设计师<br>电子商务师</u></td>
  <td><u><font color="red">系统集成项目管理工程师<br>信息系统监理师<br>信息安全工程师<br>数据库系统工程师<br>信息系统还礼工程师</font></u></td>
  <td><u>计算机硬件工程师<br>信息技术支持工程师</u></td>
  </tr>
  
   <tr>
  <td>初级资格</td>
  <td><u><font color="red">程序师</font></u></td>
  <td><u><font color="red">网络管理</font>员</u></td>
  <td><u>多媒体应用制作技术员<br>电子商务技术员</u></td>
  <td><u>信息系统运行管理员</u></td>
  <td><u>网页制作员<br><font color="red">信息处理技术员</font></u></td>
  </tr>
  
   <tr>
  <td colspan="7"><center>注：预计<font color="red">红色</font>为2019年上半年（5月25日）开考项目</center></td>
  </tr> 
  </table>

</body>
</html>
