.container {
	width: 1190px;
	margin: 0 auto;
}
.clearfix:after {
	content: '';
	display: block;
	clear: both;
}
.ellipsis {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
#header-shortcut {
	background-color: #e3e4e5;
}
#header-shortcut .container a {
	color: #a7a7a7;
}
#header-shortcut .left-shortcut {
	font-size: 12px;
	line-height: 31px;
}
.left-shortcut i {
	color: red;
}
#header-shortcut .right-shortcut {
	float: right;
}
#header-shortcut .right-shortcut>a {
	float: left;
	font-size: 12px;
	line-height: 31px;
}
#header-shortcut .right-shortcut>a:hover {
	color: #f10215;
}
#header-shortcut .right-shortcut .clearfix {
	float: right;
}
.right-shortcut li {
	float: left;
}
.right-shortcut .shortcut-list {
	margin: 0 10px;
	padding-left: 5px;
	border: 1px solid #E3E4E5;
	border-top: none;
	border-bottom: none;
	font-size: 12px;
	line-height: 31px;
}
#header-shortcut .shortcut-list:first-child a,#header-shortcut .shortcut-list:nth-child(9)>a,#header-shortcut .hover-list:hover>a  {
	color: #f10215;
}
.right-shortcut .hover-white {
	position: relative;
}
.right-shortcut .hover-white:hover {
	background-color: #fff;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
.right-shortcut .shortcut-list .cursor-default {
	cursor: text;
}
.right-shortcut .shortcut-list .iconfont {
	color: #a7a7a7;
	font-weight: bold;
	vertical-align: middle;
	cursor: text;
}
.right-shortcut .hover-white .hide-ele {
	display: none;
	position: absolute;
	left: 0;
	width: 284px;
	padding-top: 10px;
	background-color: #fff;
	border: 1px solid #e3e4e5;
	box-shadow: 1px 2px 1px rgba(0,0,0,.1);
	z-index: 1;
}
.right-shortcut .hide-ele .top,.right-shortcut .hide-ele .bottom {
	padding-left: 18px;
}
.right-shortcut .hide-ele .bottom {
	padding-top: 10px;
	border-top: 1px solid #ccc;
}
.right-shortcut .hide-ele a {
	float: left;
	width: 130px;
	line-height: 30px;
}
.right-shortcut .hover-white:hover .hide-ele {
	display: block;
}
.right-shortcut .shortcut-single {
	width: 1px;
	height: 10px;
	margin-top: 10px;
	background-color: #ccc;
}
/* 京东头部小图标结束 */
/* banner图 */
#banner {
	border-top: 1px solid #a7a7a7;
	border-bottom: 1px solid #a7a7a7;
}
#banner .img-left,#banner .search,#banner .img-right {
	float: left;
}
.search .search-frame {
	margin-left: 70px;
	margin-top: 26px;
}
.search .search-frame .left {
	position: relative;
	width: 555px;
	height: 41px;
}
.search .search-frame input {
	float: left;
	width: 490px;
	height: 37px;
	border: 2px solid red;
	font-size: 12px;
}
.search .left i {
	float: left;
	margin-left: -43px;
	color: #a7a7a7;
    font-size: 22px;
    line-height: 40px;
	cursor: pointer;
}
.search .left div {
	float: right;
	width: 61px;
	height: 41px;
	background-color: #E1251B;
	color: #fff;
	font-size: 28px;
	line-height: 41px;
	text-align: center;
	cursor: pointer;
}
.search .search-frame .right {
	float: right;
	width: 131px;
	height: 36px;
	margin-top: -40px;
	border: 1px solid #eee;
	line-height: 36px;
	text-align: center;
}
.search .right i,.search .right a {
	color: #f10215;
}
.search .right i {
	color: #f10215;
	font-weight: bold;
}
.search .right a {
	font-size: 12px;
}
.search .list-wrap:nth-child(2) {
	margin-left: 60px;
}
.search .list-wrap:last-child {
	margin-top: 10px;
}
#banner .search li {
	float: left;
	line-height: 36px;
}
.search .list-wrap:nth-child(2) li a {
	margin-left: 10px;
    font-size: 10px;
	line-height: 36px;
}
.search .list-wrap:last-child li a {
	margin-left: 20px;
    font-size: 16px;
	line-height: 36px;
}
.search .list-wrap:last-child li:nth-child(1) a,.search .list-wrap:last-child li:nth-child(2) a {
	color: #E1251B;
	font-weight: bold;
}
.search li:hover>a,.search .list-wrap:nth-child(2) li:nth-child(1) a {
	color: #E1251B;
}
#banner .img-right {
	margin: 22px 0 0 22px;
}
/* banner图结束 */
/* 内容区域 */
#content {
	background-color: #F4F4F4;
	overflow: hidden;
}
#content .part1 {
	padding-top: 10px;
}
.part1 .clearfix>li {
	float: left;
}
.part1 .clearfix>li:nth-child(2) {
	position: relative;
	width: 590px;
    height: 470px;
	margin: 0 10px;
}
.part1 .clearfix>li:nth-child(3) li {
	margin-bottom: 10px;
}
.part1 .clearfix>li:last-child {
	width: 152px;
	margin-left: 10px;
	padding: 15px 15px 15px 20px;
	background-color: #fff;
}
.part1 .clearfix>li:last-child .users-info { 
	font-size: 12px;
}
.part1 .clearfix .text-wrap {
	width: 172px;
	padding: 18px 0 2px 18px;
	background-color: #fff;
}
.part1 li:first-child li {
	margin-bottom: 4px;
}
.part1 li:first-child li a {
	font-size: 14px;
}
.part1 li:first-child li span {
	margin: 0 -2px;
	font-size: 12px;
}
.part1 .clearfix>li:nth-child(2) a {
	position: absolute;
}
.part1 .bg-line:after { 
	content: '';
	display: block;
	height: 1px;
	margin-top: 10px;
	background: linear-gradient(270deg,white,#eee,#eee,white);
}
.part1 .users-info img { 
	border-radius: 50%;
}
.part1 .users-info .users-login { 
	float: right;
	margin-top: 5px;
}
.part1 .users-login>a { 
	color: #666;
}
.part1 .users-login>div { 
	margin-top: 5px;
}
.part1 .users-info .clearfix:last-child { 
	margin-top: 10px;
}
.users-info .clearfix:last-child a { 
	float: left;
	width: 71px;
	border-radius: 13px;
	text-align: center;
	line-height: 26px;
}
.users-info .clearfix:last-child a:first-child { 
	margin-right: 10px;
	background-color: #e1251b;
	color: #fff;
}
.users-info .clearfix:last-child a:last-child { 
	background-color: #363634;
	color: #e5d790;
}
.part1 .newspaper-info {
	margin-top: 10px;
	line-height: 21px;
}
.part1 .newspaper-info .ellipsis {
	margin-bottom: -2px;
	color: #999;
}
.part1 .newspaper-info li a {
	color: #666;
	font-size: 10px;
}
.newspaper-info li a>span {
	float: left;
	width: 35px;
	margin-top: 5px;
	margin-right: 5px;
	background-color: #FDEEED;
	color: #E1251B;
	text-align: center;
	line-height: 16px;
}
.part1 .newspaper-info li:first-child span {
	color: #000;
	font-size: 14px;
	font-weight: bold;
}
.part1 .newspaper-info li:first-child a {
	float: right;
	margin-right: 5px;
	color: #999;
}
.part1 .newspaper-info .iconfont {
	font-size: 12px;
	font-weight: bold;
}
.part1 .life-pay ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	height: 200px;
	margin-top: 12px;
	padding-bottom: 10px;
	font-size: 12px;
	text-align: center;
}
.part1 .life-pay li {
	width: 50px;
	margin-bottom: 7px;
	font-size: 12px;
}
.life-pay li div {
	margin-bottom: 3px;
}
#content .part2 {
	padding-top: 30px;
}
.part2 .info-list {
	padding-bottom: 20px;
}
.part2 .info-list>.clearfix>li {
	float: left;
	background-color: #fff;
	text-align: center;
}
.part2 .info-list>.clearfix>li a {
	float: left;
	width: 200px;
	height: 260px;
}
.part2 .info-list:first-child .single-one {
	background: url('../images/4a15d8883775742e3efbb850ae14def7.png') no-repeat;
}
.part2 .info-list:first-child .single-one>a {
	width: 190px;
}
.info-list:first-child .single-one h3 {
	padding: 40px 0 80px;
	color: #fff;
	font-size: 30px;
	font-weight: bold;
}
.info-list:first-child .single-one span {
	color: #fff;
}
.info-list:first-child .single-one .time {
	font-size: 18px;
	font-weight: bold;
}
.info-list:first-child .single-one .text {
	font-size: 14px;
}
.info-list:first-child .count-down {
	margin: 15px 0 30px 30px;
}
.info-list:first-child .count-down li {
	float: left;
	font-size: 18px;
	font-weight: bold;
}
.single-one .count-down .hour {
	width: 31px;
	background-color: #2F3430;
	color: #fff;
	text-align: center;
	line-height: 31px;
}
.single-one .count-down .symbol {
	width: 20px;
	color: #fff;
	text-align: center;
	line-height: 30px;
}
.part2 .bg-line:after {
	content: '';
	display: block;
	width: 1px;
	height: 200px;
	margin-top: 30px;
	background: linear-gradient(0deg,white,#eee,#eee,white);
}
.part2 .single-one~li img {
	margin-top: 30px;
}
.part2 .single-one~li .ellipsis {
	margin: 17px 22px 10px 14px;
	font-size: 12px;
}
.part2 .single-one~li .price-spread div {
	float: left;
	width: 84px;
	height: 24px;
	margin-left: 17px;
	padding-left: 10px;
	background-color: #E1251B;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	line-height: 24px;
}
.part2 .single-one~li .price-spread div:after {
	content: '';
	float: right;
	border: 0px solid transparent;
    border-right: 8px solid #fff;
    border-top: 24px solid transparent;
}
.part2 .single-one~li .price-spread span,.part2 .single-one~li .price-spread del {
	font-size: 10px;
}
.part2 .single-one~li .price-spread del {
	float: left;
	width: 76px;
	margin-left: -8px;
	border: 1px solid #E1251B;
	color: #999;
	line-height: 22px;
}
.part2 .single-one~li:last-child {
	position: relative;
	width: 200px;
	height: 260px;
	background-color: #fff;
}
.part2 .single-one~li:last-child a {
	position: absolute;
}
.part2 .text-info {
	padding-top: 10px;
	padding-bottom: 20px;
	background: linear-gradient(180deg,rgba(255,255,255,.5),rgba(220,224,236,.5));
}
.part2 .text-info li {
	margin-bottom: 5px;
	font-size: 14px;
}
.part2 .text-info li:nth-child(1) {
	color: #999;
}
.part2 .text-info li:nth-child(2) {
	font-weight: bold;
}
.part2 .text-info li:nth-child(3) {
	width: 84px;
	height: 26px;
	margin-left: 60px;
	border: 1px solid #E1251B;
	border-radius: 15px;
	color: #E1251B;
	font-weight: bold;
	line-height: 26px;
}
.part2 .info-list:nth-child(2) .rank-left,.part2 .info-list:nth-child(2) .brand-right {
	background-color: #fff;
} 
.part2 .info-list:nth-child(2) .rank-left {
	float: left;
	padding: 12px 23px 16px;
}
.part2 .rank-left a {
	color: #999;
	font-size: 14px;
}
.part2 .rank-left .info-wrap {
	float: right;
	line-height: 33px;
}
.part2 .rank-left .info-wrap a {
	margin-left: 21px;
}
.part2 .info-list:nth-child(2) .single-one {
	color: #000;
	font-size: 25px;
	font-weight: bold;
}
.part2 .info-list:nth-child(2) .single-one:after {
	content: '';
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-left: 10px;
	margin-right: 64px;
	background: url('../images/sprite.png') no-repeat -16px 0;
}
.part2 .info-list:nth-child(2) .brand-right {
	float: right;
}
/* 内容区域结束 */