<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>表格，单元格合并</title>
	</head>
	<body>
		<table width=500 height=500 cellpadding='0' border="1">
			<tr>
				<td rowspan="5"></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</table>
	</body>
</html>
