<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>thead,tfoot,tbody</title>
	</head>
	<body>
		<!--顺序：thead,tfoot,tbody-->
		<table>
			<thead>
				<tr>
					<th>头部</th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<td>底部</td>
				</tr>
			</tfoot>
			<tbody>
				<tr>
					<td>主体</td>
				</tr>
			</tbody>
		</table>
		<!--顺序：thead,tbody,tfoot-->
		<table>
			<thead>
				<tr>
					<th>头部</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>主体</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td>底部</td>
				</tr>
			</tfoot>
		</table>
	</body>
</html>
