<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>普通话报名表</title>
		<style>
			.box {
				text-align: center;
			}
		</style>
	</head>
	<body style='background-color: #ccc;'>
		<table cellspacing="0" border="1" style='margin: 0 auto;'>
			<tr>
				<th colspan="8">
					<p style="height: 31px;line-height: 31px;">普通话报名表</p>
				</th>
			</tr>
			<tr>
				<td>
					<p class="box">姓&nbsp;名</p>
				</td>
				<td>徐齐洪</td>
				<td>
					<p class="box">性&nbsp;别</p>
				</td>
				<td>男</td>
				<td>
					<p class="box">年&nbsp;龄</p>
				</td>
				<td>18</td>
				<td colspan='2' rowspan="4">
					<img style="border-radius: 50%;" src="images/QQ图片20190910193710.jpg" width=100 height=100 alt="QQ图片20190910193710.jpg">
				</td>
			</tr>
			<tr>
				<td>
					<p class="box">身&nbsp;高</p>
				</td>
				<td>180cm</td>
				<td>
					<p class="box">学&nbsp;历</p>
				</td>
				<td>大专</td>
				<td>
					<p class="box">职&nbsp;业</p>
				</td>
				<td>老板</td>
			</tr>
			<tr>
				<td>
					<p class="box">体&nbsp;重</p>
				</td>
				<td colspan='2'>180kg</td>
				<td>
					<p class="box">毕业学校</p>
				</td>
				<td colspan='2'>湖北工程学院新技术学院</td>
			</tr>
			<tr>
				<td>
					<p class="box">月收入</p>
				</td>
				<td>13000</td>
				<td>
					<p class="box">住房情况</p>
				</td>
				<td>问徐齐洪</td>
				<td>
					<p class="box">婚&nbsp;否</p>
				</td>
				<td>额。。。</td>
			</tr>
			<tr>
				<td>
					<p class="box">工作单位</p>
				</td>
				<td colspan='7'>湖北武汉</td>
			</tr>
			<tr>
				<td>
					<p class="box">联系电话</p>
				</td>
				<td>问徐齐洪</td>
				<td>
					<p class="box">出生日期</p>
				</td>
				<td colspan='4'>2001年。。。</td>
			</tr>
			<tr>
				<td>
					<p class="box">QQ号码</p>
				</td>
				<td>879825256</td>
				<td>
					<p class="box">微信号码</p>
				</td>
				<td colspan='4'>你猜？？？</td>
			</tr>
			<tr>
				<td rowspan='3'>
					<p>自我</p>
					<p>评价</p>
				</td>
				<td rowspan='3' colspan="7">你觉得徐齐洪这个人怎么样？</td>
			</tr>
			<tr></tr>
			<tr></tr>
			<tr>
				<td rowspan='3'>
					<p>心中</p>
					<p>的话</p>
				</td>
				<td rowspan='3' colspan="7">徐齐洪帅不帅？是/不是</td>
			</tr>
			<tr></tr>
			<tr></tr>
			<tr>
				<td rowspan='3'>
					<p>家庭</p>
					<p>成员</p>
				</td>
				<td rowspan='3' colspan="7">徐齐洪</td>
			</tr>
			<tr></tr>
			<tr></tr>
			<tr>
				<td rowspan='3'>
					<p>择偶</p>
					<p>标准</p>
				</td>
				<td rowspan='3' colspan="7">你觉得呢？</td>
			</tr>
			<tr></tr>
			<tr></tr>
			<tr>
				<td>
					<p class="box">备注</p>
				</td>
				<td rowspan='3' colspan="7">以上纯属搞笑，请勿模仿！！！</td>
			</tr>
		</table>
	</body>
</html>
